In [42]:
import pandas as pd
import numpy as np

In [38]:
family = pd.read_csv('famb.data', delim_whitespace=True, header=None, index_col=0)

In [39]:
family

       1   2  3  4  5         6  7   8
0
1     12  12  1  1  1  70161.04  0  99
2     12  12  1  1  0  17043.12  0  33
3     12  10  4  1  0  34078.22  0  55
4     12  12  1  1  1  44101.23  0  83
5     12  12  2  1  1  88202.45  0  94
...   ..  .. .. .. ..       ... ..  ..
1706  11   8  8  1  1  11025.31  0  29
1707  11  11  1  0  0  12027.61  0  23
1708  12   8  3  1  1  12829.45  0  94
1709  12  16  3  1  1   3808.74  0  83
1710   9   8  3  1  1  12428.53  0  69

[1710 rows x 8 columns]

In [40]:
family = family.rename(columns={1: 'Mom_educ', 2: 'Dad_educ', 3: 'Num_siblings', 4: 'Urban', 5:'Nuclear', 6:'Family_income', 7:'South', 8:'AFQT_score'})

In [43]:
family = family.replace(-9999, np.nan)

In [44]:
family

,Mom_educ,Dad_educ,Num_siblings,Urban,Nuclear,Family_income,South,AFQT_score
0,,,,,,,,
1,12,12,1,1,1,70161.04,0,99
2,12,12,1,1,0,17043.12,0,33
3,12,10,4,1,0,34078.22,0,55
4,12,12,1,1,1,44101.23,0,83
5,12,12,2,1,1,88202.45,0,94
...,...,...,...,...,...,...,...,...
1706,11,8,8,1,1,11025.31,0,29
1707,11,11,1,0,0,12027.61,0,23
1708,12,8,3,1,1,12829.45,0,94
1709,12,16,3,1,1,3808.74,0,83
1710,9,8,3,1,1,12428.53,0,69

In [25]:
column_values = family['Family_income'].values

In [26]:
column_values

array([70161.04, 17043.12, 34078.22, ..., 12829.45,  3808.74, 12428.53])

In [27]:
sorted(column_values)

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 601.38,
 641.47,
 1002.3,
 1202.76,
 1423.27,
 1603.68,
 1643.77,
 1764.05,
 2205.06,
 2405.52,
 2455.64,
 2505.75,
 2605.98,
 2605.98,
 2605.98,
 2656.1,
 2806.44,
 2806.44,
 2846.53,
 2934.74,
 3006.9,
 3006.9,
 3111.14,
 3207.36,
 3247.45,
 3247.45,
 3419.85,
 3608.28,
 3608.28,
 3720.54,
 3808.74,
 3923.0,
 4009.2,
 4009.2,
 4009.2,
 4009.2,
 4009.2,
 4009.2,
 4009.2,
 4209.66,
 4426.16,
 4610.58,
 4610.58,
 4670.72,
 5011.5,
 5011.5,
 5011.5,
 5011.5,
 5011.5,
 5221.99,
 5392.38,
 5412.42,
 5412.42,
 5612.88,
 5677.03,
 5717.12,
 5813.34,
 5833.39,
 5897.54,
 5913.57,
 5913.57,
 5965.69,
 6007.79,
 6013.8,
 6013.8,
 6013.8,
 6013.8,
 6013.8,
 6013.8,
 6013.8,
 6033.85,
 6053.9,
 6114.03,
 6158.13,
 6214.26,
 6214.26,
 6226.29,
 6274.4,
 6350.58,
 6414.72,
 6414.72,
 6422.74,
 6595.14,
 6615.18,
 6615.18,
 6615.18,
 6715.41,
 6735.46,
 6755.51,
 6785.58,
 6815.64,
 6835.69,
 6847.72,
 6875.78,
 6976.01,
 7016.1,
 7016.1,
 7016.1,
 7016.1,
 7016.1,
 7056.2,
 7168.45,
 7216.56,
 7216.56,
 7216.56,
 7216.56,
 7396.98,
 7517.25,
 7517.25,
 7579.4,
 7593.43,
 7597.44,
 7617.48,
 7617.48,
 7645.55,
 7745.78,
 7817.94,
 7916.17,
 8018.4,
 8018.4,
 8018.4,
 8018.4,
 8018.4,
 8018.4,
 8018.4,
 8018.4,
 8018.4,
 8018.4,
 8018.4,
 8018.4,
 8018.4,
 8018.4,
 8018.4,
 8018.4,
 8018.4,
 8018.4,
 8058.5,
 8128.66,
 8178.77,
 8202.83,
 8218.87,
 8218.87,
 8399.28,
 8447.39,
 8479.46,
 8619.79,
 8619.79,
 8820.25,
 8900.43,
 8924.48,
 8980.61,
 9020.71,
 9020.71,
 9181.07,
 9481.76,
 9521.86,
 9622.09,
 9622.09,
 9622.09,
 9622.09,
 9662.18,
 9814.53,
 9822.55,
 9922.78,
 9972.89,
 10023.01,
 10023.01,
 10023.01,
 10023.01,
 10023.01,
 10023.01,
 10023.01,
 10023.01,
 10023.01,
 10023.01,
 10023.01,
 10023.01,
 10023.01,
 10023.01,
 10023.01,
 10023.01,
 10023.01,
 10023.01,
 10023.01,
 10023.01,
 10023.01,
 10023.01,
 10023.01,
 10023.01,
 10027.02,
 10031.02,
 10031.02,
 10031.02,
 10039.04,
 10071.12,
 10071.12,
 10103.19,
 10103.19,
 10113.21,
 10123.24,
 10127.25,
 10147.29,
 10223.47,
 10263.56,
 10307.66,
 10323.7,
 10323.7,
 10343.74,
 10391.85,
 10407.89,
 10451.99,
 10454.0,
 10524.16,
 10524.16,
 10560.24,
 10560.24,
 10624.39,
 10624.39,
 10624.39,
 10664.48,
 10744.66,
 10824.85,
 10824.85,
 10824.85,
 10858.92,
 10858.92,
 10874.96,
 10880.98,
 10925.08,
 11025.31,
 11025.31,
 11025.31,
 11025.31,
 11025.31,
 11025.31,
 11025.31,
 11025.31,
 11025.31,
 11025.31,
 11025.31,
 11025.31,
 11025.31,
 11091.46,
 11105.49,
 11129.55,
 11129.55,
 11195.7,
 11205.72,
 11225.77,
 11225.77,
 11225.77,
 11225.77,
 11265.86,
 11338.02,
 11346.04,
 11376.11,
 11406.18,
 11426.23,
 11426.23,
 11460.31,
 11486.37,
 11576.57,
 11626.69,
 11626.69,
 11626.69,
 11626.69,
 11626.69,
 11646.73,
 11779.04,
 11779.04,
 11807.1,
 11927.38,
 11927.38,
 11947.42,
 12017.58,
 12027.61,
 12027.61,
 12027.61,
 12027.61,
 12027.61,
 12027.61,
 12027.61,
 12027.61,
 12027.61,
 12027.61,
 12027.61,
 12027.61,
 12027.61,
 12027.61,
 12027.61,
 12027.61,
 12027.61,
 12027.61,
 12027.61,
 12027.61,
 12027.61,
 12027.61,
 12027.61,
 12027.61,
 12027.61,
 12027.61,
 12027.61,
 12027.61,
 12027.61,
 12027.61,
 12027.61,
 12027.61,
 12027.61,
 12027.61,
 12027.61,
 12027.61,
 12027.61,
 12027.61,
 12037.63,
 12047.65,
 12087.75,
 12127.84,
 12147.88,
 12228.07,
 12228.07,
 12228.07,
 12228.07,
 12228.07,
 12388.44,
 12428.53,
 12428.53,
 12428.53,
 12428.53,
 12428.53,
 12484.66,
 12624.98,
 12649.03,
 12797.37,
 12819.42,
 12823.43,
 12829.45,
 12829.45,
 12893.6,
 12929.68,
 12929.68,
 12949.72,
 12989.82,
 13009.86,
 13029.91,
 13029.91,
 13029.91,
 13029.91,
 13029.91,
 13029.91,
 13029.91,
 13029.91,
 13029.91,
 13230.37,
 13230.37,
 13230.37,
 13230.37,
 13270.46,
 13330.6,
 13330.6,
 13511.01,
 13581.17,
 13621.27,
 13631.29,
 13631.29,
 13631.29,
 13673.38,
 13711.47,
 13731.52,
 13807.69,
 13823.73,
 13831.75,
 14032.21,
 14032.21,
 14032.21,
 14032.21,
 14032.21,
 14032.21,
 14032.21,
 14032.21,
 14032.21,
 14032.21,
 14032.21,
 14032.21,
 14032.21,
 14032.21,
 14032.21,
 14032.21,
 14032.21,
 14032.21,
 14032.21,
 14032.21,
 14032.21,
 14032.21,
 14032.21,
 14032.21,
 14032.21,
 14032.21,
 14052.25,
 14072.3,
 14088.34,
 14192.58,
 14284.79,
 14320.87,
 14433.13,
 14433.13,
 14433.13,
 14433.13,
 14433.13,
 14533.36,
 14537.37,
 14569.44,
 14569.44,
 14569.44,
 14591.49,
 14591.49,
 14605.52,
 14609.53,
 14609.53,
 14633.59,
 14733.82,
 14769.9,
 14834.05,
 14858.1,
 14990.41,
 15034.51,
 15034.51,
 15034.51,
 15034.51,
 15034.51,
 15034.51,
 15034.51,
 15034.51,
 15034.51,
 15034.51,
 15034.51,
 15234.97,
 15234.97,
 15359.25,
 15499.58,
 15595.8,
 15627.87,
 15635.89,
 15635.89,
 15720.08,
 15870.43,
 15936.58,
 16036.81,
 16036.81,
 16036.81,
 16036.81,
 16036.81,
 16036.81,
 16036.81,
 16036.81,
 16036.81,
 16036.81,
 16036.81,
 16036.81,
 16036.81,
 16036.81,
 16036.81,
 16036.81,
 16036.81,
 16036.81,
 16036.81,
 16036.81,
 16036.81,
 16036.81,
 16036.81,
 16036.81,
 16036.81,
 16036.81,
 16036.81,
 16036.81,
 16036.81,
 16036.81,
 16036.81,
 16036.81,
 16036.81,
 16036.81,
 16036.81,
 16036.81,
 16036.81,
 16036.81,
 16036.81,
 16036.81,
 16064.87,
 16237.27,
 16237.27,
 16397.64,
 16467.8,
 16576.05,
 16582.06,
 16582.06,
 16606.12,
 16606.12,
 16618.14,
 16804.57,
 16838.65,
 16856.69,
 16982.98,
 17039.11,
 17039.11,
 17039.11,
 17039.11,
 17039.11,
 17039.11,
 17043.12,
 17239.57,
 17239.57,
 17239.57,
 17440.03,
 17550.28,
 17560.31,
 17640.49,
 17640.49,
 17640.49,
 17640.49,
 17666.55,
 17840.95,
 17840.95,
 17840.95,
 17840.95,
 17981.27,
 18009.34,
 18031.39,
 18041.41,
 18041.41,
 18041.41,
 18041.41,
 18041.41,
 18041.41,
 18041.41,
 18041.41,
 18041.41,
 18041.41,
 18041.41,
 18041.41,
 18041.41,
 18041.41,
 18041.41,
 18041.41,
 18041.41,
 18041.41,
 18041.41,
 18041.41,
 18121.6,
 18185.74,
 18185.74,
 18241.87,
 18372.17,
 18442.33,
 18502.47,
 18522.52,
 18522.52,
 18542.56,
 18769.08,
 18843.25,
 18945.49,
 19043.71,
 19043.71,
 19043.71,
 19196.06,
 19196.06,
 19204.08,
 19378.48,
 19390.51,
 19422.58,
 19470.69,
 19492.74,
 19492.74,
 19494.75,
 19570.92,
 19645.09,
 19685.18,
 19785.41,
 19889.65,
 20015.94,
 20015.94,
 20046.01,
 20046.01,
 20046.01,
 20046.01,
 20046.01,
 20046.01,
 20046.01,
 20046.01,
 20046.01,
 20046.01,
 20046.01,
 20046.01,
 20046.01,
 20046.01,
 20046.01,
 20046.01,
 20046.01,
 20046.01,
 20046.01,
 20046.01,
 20046.01,
 20046.01,
 20046.01,
 20046.01,
 20046.01,
 20046.01,
 20046.01,
 20046.01,
 20046.01,
 20046.01,
 20046.01,
 20046.01,
 20446.93,
 20446.93,
 20543.15,
 20591.26,
 20647.39,
 20847.85,
 21024.26,
 21048.31,
 21048.31,
 21096.42,
 21100.43,
 21168.59,
 21248.77,
 21248.77,
 21248.77,
 21649.69,
 21649.69,
 21649.69,
 21950.38,
 21994.48,
 22050.61,
 22050.61,
 22050.61,
 22050.61,
 22050.61,
 22050.61,
 22050.61,
 22050.61,
 22050.61,
 22050.61,
 22050.61,
 22050.61,
 22050.61,
 22050.61,
 22050.61,
 22451.53,
 22451.53,
 22451.53,
 22451.53,
 22910.59,
 23036.88,
 23052.91,
 23052.91,
 23052.91,
 23339.57,
 23588.14,
 23854.75,
 23854.75,
 24055.21,
 24055.21,
 24055.21,
 24055.21,
 24055.21,
 24055.21,
 24055.21,
 24055.21,
 24055.21,
 24055.21,
 24055.21,
 24055.21,
 24055.21,
 24055.21,
 24055.21,
 24055.21,
 24055.21,
 24055.21,
 24055.21,
 24055.21,
 24055.21,
 24055.21,
 24055.21,
 24055.21,
 24055.21,
 24055.21,
 24055.21,
 24055.21,
 24055.21,
 24055.21,
 24055.21,
 24055.21,
 24055.21,
 24055.21,
 24055.21,
 24055.21,
 24055.21,
 24055.21,
 24073.26,
 24115.35,
 24151.44,
 24556.37,
 24778.88,
 24945.26,
 25007.4,
 25057.52,
 25057.52,
 25057.52,
 25057.52,
 25057.52,
 25257.98,
 25257.98,
 25257.98,
 25257.98,
 25458.44,
 25658.9,
 26059.82,
 26059.82,
 26059.82,
 26059.82,
 26059.82,
 26059.82,
 26059.82,
 26059.82,
 26059.82,
 26059.82,
 26059.82,
 26059.82,
 26059.82,
 26059.82,
 26059.82,
 26059.82,
 26059.82,
 26059.82,
 26059.82,
 26059.82,
 26324.42,
 26370.53,
 26380.55,
 26661.2,
 26879.7,
 27062.12,
 27062.12,
 27062.12,
 27062.12,
 27062.12,
 27062.12,
 27352.78,
 27463.04,
 27583.31,
 27663.5,
 27663.5,
 27663.5,
 27721.63,
 27863.96,
 28064.42,
 28064.42,
 28064.42,
 28064.42,
 28064.42,
 28064.42,
 28064.42,
 28064.42,
 28064.42,
 28064.42,
 28064.42,
 28064.42,
 28064.42,
 28064.42,
 28064.42,
 28064.42,
 28064.42,
 28064.42,
 28064.42,
 28064.42,
 28064.42,
 28064.42,
 28064.42,
 28162.64,
 28713.91,
 28713.91,
 28866.26,
 29066.72,
 29066.72,
 29066.72,
 29309.27,
 29607.96,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30069.02,
 30129.16,
 30169.25,
 30469.94,
 30469.94,
 30469.94,
 30670.4,
 30670.4,
 30870.86,
 31071.32,
 31071.32,
 31071.32,
 31071.32,
 31171.55,
 31432.15,
 31546.41,
 31849.1,
 32073.62,
 32073.62,
 32073.62,
 32073.62,
 32073.62,
 32073.62,
 32073.62,
 32073.62,
 32073.62,
 32073.62,
 32073.62,
 32073.62,
 32073.62,
 32073.62,
 32073.62,
 32073.62,
 32073.62,
 32073.62,
 32073.62,
 32073.62,
 32201.91,
 32715.09,
 32915.55,
 32971.68,
 33075.92,
 33075.92,
 33677.3,
 33855.71,
 33877.76,
 34078.22,
 34078.22,
 34078.22,
 34078.22,
 34078.22,
 34078.22,
 34078.22,
 34078.22,
 34078.22,
 34078.22,
 34078.22,
 34078.22,
 34078.22,
 34078.22,
 34078.22,
 34078.22,
 34078.22,
 34078.22,
 34078.22,
 34078.22,
 34078.22,
 34078.22,
 34078.22,
 34078.22,
 34078.22,
 34078.22,
 34134.35,
 34210.52,
 34278.68,
 34278.68,
 34435.04,
 34479.14,
 34479.14,
 34605.43,
 34679.6,
 34679.6,
 34880.06,
 34880.06,
 35080.52,
 35080.52,
 35080.52,
 35327.09,
 36082.82,
 36082.82,
 36082.82,
 36082.82,
 36082.82,
 36082.82,
 36082.82,
 36082.82,
 36082.82,
 36082.82,
 36082.82,
 36082.82,
 36082.82,
 36082.82,
 36082.82,
 36082.82,
 36082.82,
 36082.82,
 36082.82,
 36082.82,
 36082.82,
 36082.82,
 36082.82,
 36082.82,
 36082.82,
 36082.82,
 36082.82,
 36082.82,
 36082.82,
 36082.82,
 36082.82,
 36082.82,
 36082.82,
 36163.01,
 36980.88,
 37085.12,
 37085.12,
 37636.39,
 37772.7,
 37772.7,
 38087.42,
 38087.42,
 38087.42,
 38087.42,
 38087.42,
 38087.42,
 38087.42,
 38087.42,
 38087.42,
 38087.42,
 38087.42,
 38087.42,
 38087.42,
 38087.42,
 38087.42,
 38087.42,
 38087.42,
 38087.42,
 38087.42,
 38087.42,
 38087.42,
 38873.23,
 38873.23,
 39490.64,
 40041.91,
 40092.02,
 40092.02,
 ...]

In [12]:
for column in family.columns:
    # Find the minimum value of the column
    min_value = family[column].min()

    # Find the maximum value of the column
    max_value = family[column].max()

    print(column)
    print("Minimum value:", min_value)
    print("Maximum value:", max_value)
    print('-----------------')

Mom_educ
Minimum value: 0
Maximum value: 20
-----------------
Dad_educ
Minimum value: 0
Maximum value: 20
-----------------
Num_siblings
Minimum value: 0
Maximum value: 15
-----------------
Urban
Minimum value: 0
Maximum value: 1
-----------------
Nuclear
Minimum value: 0
Maximum value: 1
-----------------
Family_income
Minimum value: 0.0
Maximum value: 150347.1
-----------------
South
Minimum value: 0
Maximum value: 1
-----------------
AFQT_score
Minimum value: 1
Maximum value: 99
-----------------

In [28]:
edu = pd.read_csv('ed.data', delim_whitespace=True, header=None, index_col=0)

In [30]:
new_column_names = [str(year) for year in range(1979, 1991)]

# Rename the columns
edu.columns = new_column_names

In [45]:
edu = edu.replace(-9999, np.nan)

In [31]:
edu

      1979  1980  1981  1982  1983  1984  1985  1986  1987  1988  1989  1990
0
1       12    13    14    15    16    16    16    16    16    16    16    16
2        8     9    10    11    12    12    12    12    12    12    12    12
3        9    10    11    12    12    12    12    13    13    13    13    14
4        8     9    10    11    12    13    14    15    16    16    16    16
5       13    13    14    14    15    15    15    15    15    15    15    15
...    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
1706    10    10    10    10    10    10    10    10    10    10    10    10
1707    12    12    12    12    12    12    12    12    12    12    12    12
1708    12    12    12    12    12    13    13    13    13    13    13    13
1709    12    12    12    12    12    12    12    12    12    12    12    12
1710    10    12    12    12    12    12    12    12    12    12    12    12

[1710 rows x 12 columns]

In [32]:
# Find the minimum value of the DataFrame excluding the first column
min_value = edu.iloc[:, 1:].values.min()

# Find the maximum value of the DataFrame excluding the first column
max_value = edu.iloc[:, 1:].values.max()

print("Minimum value of the DataFrame (excluding the identifier column):", min_value)
print("Maximum value of the DataFrame (excluding the identifier column):", max_value)

Minimum value of the DataFrame (excluding the identifier column): 6
Maximum value of the DataFrame (excluding the identifier column): 20

In [33]:
exp = pd.read_csv('exp.data', delim_whitespace=True, header=None, index_col=0)

In [34]:
# Rename the columns
exp.columns = new_column_names

In [46]:
exp = exp.replace(-9999, np.nan)

In [48]:
# Find the minimum value of the DataFrame excluding NaN values and the first column
min_value = np.nanmin(exp.iloc[:, 1:].values)

# Find the maximum value of the DataFrame excluding NaN values and the first column
max_value = np.nanmax(exp.iloc[:, 1:].values)

print("Minimum value of the DataFrame (excluding NaN values and the identifier column):", min_value)
print("Maximum value of the DataFrame (excluding NaN values and the identifier column):", max_value)

Minimum value of the DataFrame (excluding NaN values and the identifier column): 0.0
Maximum value of the DataFrame (excluding NaN values and the identifier column): 16.94

In [49]:
wage = pd.read_csv('wage.data', delim_whitespace=True, header=None, index_col=0)

In [50]:
# Rename the columns
wage.columns = new_column_names

In [52]:
wage = wage.replace(-9999, np.nan)

In [54]:
# Find the minimum value of the DataFrame excluding NaN values and the first column
min_value = np.nanmin(wage.iloc[:, 1:].values)

# Find the maximum value of the DataFrame excluding NaN values and the first column
max_value = np.nanmax(wage.iloc[:, 1:].values)

print("Minimum value of the DataFrame (excluding NaN values and the identifier column):", min_value)
print("Maximum value of the DataFrame (excluding NaN values and the identifier column):", max_value)

Minimum value of the DataFrame (excluding NaN values and the identifier column): 2.01
Maximum value of the DataFrame (excluding NaN values and the identifier column): 40.0